<li class="nav-header">Films</li>
<li data-link="new" class="active"><a href="#">New Releases</a></li>
<li data-link="fav"><a href="#fav">My Favourites ({{totalFav}})</a></li>
<li class="nav-header">Recent search</li>
<li id="recent-tags">
<!-- hard coded for now -->
<span class="label label-inverse" data-tag="alien">alien</span>
<span class="label label-inverse" data-tag="batman">batman</span>
<span class="label label-inverse" data-tag="x-men">x-men</span>
<span class="label label-inverse" data-tag="lord">lord</span>
<span class="label label-inverse" data-tag="matrix">matrix</span>
<span class="label label-inverse" data-tag="pirates">pirates</span>
<span class="label label-inverse" data-tag="spiderman">spiderman</span>
<span class="label label-inverse" data-tag="apes">apes</span>
</li>